body{
    background-color: #2E2B33;
    color: #B8DAD0;
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 70px;
    margin-left: 187px;
    margin-top: 205px;
}
.right-top{
    position: absolute;
    top: 0;                    
    right: 0;                  
    width: 220px;              
    height: auto;              
    pointer-events: none
}
.sbivka{
    font-size: 14px;

}
h2{
    font-size: 25px;
}
.promo-section{
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
}
.visual-column {
  width: 40%;                 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-one{
    position: absolute;
    top: 765px;
    left: 0;
    width: 250px;
    height: auto;
    z-index: -2;


}
.coworking{
    width: 100%;
    height: auto;
    display: block;
}


.right-side{
   width: 50%;
   padding: 120px 80px 60px 40px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   box-sizing: border-box;

}
.subtitle {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  margin-bottom: 50px;
  
}
.subtitle .line {
  width: 40px;
  height: 1px;
  background-color: #B8DAD0;
}
.right-side h2 {
  color: #B8DAD0;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 40px;
}